body{
	font-family: 'PT Sans Narrow', sans-serif;
	background: #e9ece5;
}
a, .navbar-brand{
	font-size: 1.5em;
	color: #3b3a36;
	text-shadow: 1px 1px 1px #3b3a36;
}
.bitcoinSection{
	margin-bottom: 5%;
}

.cryptoCards{
	background: #c0dfd9;
	border-radius: 1em;
	margin: 4.1%;
	padding: 5%;
}

.stockCards{
	background: #c0dfd9;
	border-radius: 1em;
	margin: 4.1%;
	padding: 5%;
}
h1{
	color: #3b3a36;
	font-weight: bold;
	font-size: 4em;
	text-shadow: 2px 2px 2px #3b3a36;
}
nav{
	background: #e9ece5;
}
.footerContent{
	text-align: center;
	padding: 1.5%;
}
footer{
	background: #b3c2bf;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #3b3a36;

}